*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conatiner{
    background: linear-gradient(135deg , #153677 , #4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 10px;

}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
   color: #002765;
   display: flex;
   align-items: center;
  
   margin-bottom: 20px;
}

.todo-app img{
  width: 30px;
  margin-left: 12px;
 }

 .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
 }


 input{
    flex: 1;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 10px;

 }

 button{
    outline: 0;
    border: 0;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
 }

 ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
 }

 ul li::before {
content:' ';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-image: url(images/unchecked.png);
background-size: cover;
background-position: center;
top: 10px;
left: 1px;

 }
 ul li.checked{
    text-decoration: line-through;
    
  
 }

 ul li.checked::before{
    text-decoration: line-through;
    background-image: url(/images/checked.png);
    
  
 }

ul li span {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: black;
    top: 5px;
}


ul li span:hover{
    background: rgb(219, 209, 209);
    border-radius: 50%;
}